
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: url(backgroundimage.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 { 
  color: #ffffff; 
  font-family: 'Quicksand', sans-serif; 
  font-size: 26px; 
  font-weight: 700;  
  line-height: 44px;
  margin-left: 0em; 
  margin-bottom: 1em;

  text-align: center; }
/* Style the links inside the sidenav */

.sidenav a {
  position: fixed; /* Position them relative to the browser window */
  color: #f4f4f4eb; 
  font-family: 'Quicksand', sans-serif;
  left: -180px; /* Position them outside of the screen */
  margin-top: 1em;
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 200px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

.sidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}


#home {
  top: 20px;
  background-color: #ab3f29d0;
}

#login {
  top: 80px;
  background-color: #ab3f29d0; 
}

#addart {
  top: 140px;
  background-color: #ab3f29d0;
}

#logout {
  top: 200px;
  background-color: #ab3f29d0;
}

#login-form {

}

form.form-signin {
  background-color: #ab3f294b;
  border-radius: 20px;
  top: 80px;
  width: 50%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4eb; 
  font-family: 'Quicksand', sans-serif;
}

form.form-signin > div {
  padding: 10px;
}

/* .card {
  border-radius: 5px;
  
  margin: 20px;
} */

.card.read {
  background-color: lightgray;
}

.card .art-title {
  font-size: 1.5rem;

}

.card .art-artist {
  font-size: 1rem;
}

.art-container{
  display:flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
}