
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: url(backgroundimage.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 { 
  color: #ffffff; 
  font-family: 'Quicksand', sans-serif; 
  font-size: 26px; 
  font-weight: 700;  
  line-height: 25px;
  margin-left: 0em; 
  margin-bottom: 1em;
  text-shadow: 2px 2px #2b2929fb;
  text-align: center; 
}


@media(max-width: 800px) {

  .sidenav a, #menuTab{
    padding: 20px;
    margin-top: 10px;
    left: -100px; 
    font-size: 15px;
    text-align: end;
    transition: none; /* Add transition on hover */

  }
  .sidenav a:hover {
    left: -100px; /* On mouse-over, make the elements appear as they should */
  }
  
  #menuTab {
    top: 20px;
    background-color: #ab3f29;
    left: 0;
    font-weight: bolder;
    width: 100px;
  }

  #home {
    top: 80px;
    background-color: #ab3f29d0; 
    }
  
  #login {
    top: 140px;
    background-color: #ab3f29d0; 
  }
  
  #addart {
    top: 200px;
    background-color: #ab3f29d0;
  }
  
  #logout {
    top: 260px;
    background-color: #ab3f29d0;
  }
    
  #settings {
    top: 150px;
    background-color: #ab3f29d0;
  }
}


@media(max-width: 500px) {

  .sidenav a, #menuTab{
    position: absolute;
    padding: 4px;
    margin-top: 0px;
    font-size: 1em;
    text-align: right;
    transition: none; /* Add transition on hover */
  }
  
  
  #menuTab {
    display: none;
  }

  #home {
    top: 10px;
    background-color: #ab3f29d0; 
    }
  
  #login {
    top: 45px;
    background-color: #ab3f29d0; 
  }
  
  #addart {
    top: 80px;
    background-color: #ab3f29d0;

  }
  
  #logout {
    top: 115px;
    background-color: #ab3f29d0;
  }
  #settings {
    top: 150px;
    background-color: #ab3f29d0;
  }

}

.card .art-title {
  font-size: 1.5rem;

}

.card .art-artist {
  font-size: 1rem;
}

.art-container{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

input[type=text], [type=date], [type=number], [type=password]{
  border-radius: 7px;
}